@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

body {
  background-color: var(--vscode-editor-background);
   section {
    h4 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

/* Controls the style of all the cells of the tables. */
.tabulator-cell	{
  font-family: Roboto Mono;
  color: var(--vscode-editorLineNumber-foreground);
  padding: 2px;
}

/* Style applied to the registers name column in the register view */
.register-name {
  font-weight: bold;
}
/* Style applied to the registers value column in the register view */
/* .register-value {
  font-style: italic;
} */
/**
 * Style used by the tags that represent the types in which the value is currently visualized.
 */
.view-type {
  /* border: none; */
  border-width: 1px;
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  background-color: var(--vscode-tab-activeBackground) !important;
  width: 100%;
}
/**
 * Style used by the value editor.
 */
.register-editor {
  width: 100%;
  height: 100%;
}
/**
 * Style used by the value editor when the value is not accepted.
 */
.register-editor-error {
  font-weight: bold;
  color: red;
}

/* Style applied to the instruction view type */
#instruction-detail::before {
  content: "Type: ";
}

#instruction-detail::after {
  content: ".";
}

.tabulator .tabulator-header {
  background-color: var(--vscode-tab-activeBackground) !important;
}

.tabulator .tabulator-header .tabulator-col {
  background-color: var(--vscode-tab-activeBackground) !important;
}

.tabulator-row-even {
  background-color:  var(--vscode-tab-activeBackground) !important;
}
.tabulator-row-odd {
  background-color:  var(--vscode-tab-inactiveBackground) !important;
}

.tabulator-row.tabulator-selectable:hover,
.tabulator-row.tabulator-selected {
  /* font-weight: bold; */
  background-color: var(--vscode-statusBar-debuggingBackground) !important;
}