
@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

.tabulator .tabulator-header .tabulator-col {
  background: var(--vscode-titleBar-inactiveBackground) !important;
}

.tabulator-row.tabulator-selectable:hover,
.tabulator-row.tabulator-selected {
  font-weight: bold;
  background-color: var(--vscode-errorForeground) !important;
}

.tabulator-header	{
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 110%;
}

/**
 * Class used by the register name column in the table.
 */
.register-name {
  font-family: Roboto Mono;
  font-weight: bold;
}

/**
 * Class used by the register value column in the table.
 */
.register-value {
  font-family: Roboto Mono;
}
/**
 * Class used by the tags that represent the types in which the value is currently visualized.
 */
.view-type {
  font-family: Roboto Mono;
  border: none;
  display: inline-block;
  text-align: left;
  background-color: var(--vscode-titleBar-inactiveBackground);
  appearance: secondary;
  width: 100%;
  pad: 0 !important;
  margin : 0 !important;
}
/**
 * Class used by the value editor.
 */
.register-editor {
  font-family: Roboto Mono;
  font-size: medium;
  width: 100%;
  height: 100%;
}
/**
 * Class used by the value editor when the value is not accepted.
 */
.register-editor-error {
  font-weight: 700;
  color: red;
  font-size: large;
}
