@import url("./xy-theme.css");

@import "tailwindcss";

@plugin "tailwindcss-animate";

html,
body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.titleInElement {
  @apply text-[1.3rem] text-[#555555] absolute transform z-2 leading-tight;
}

.subtitleInElement {
  @apply text-[1.23rem] text-[#777777] absolute transform z-2 italic;
}

.input {
  @apply !bg-[#9C27B0];
}

.output {
  @apply !bg-[#E91E63];
}

.input,
.output {
  @apply !w-[0.8rem] !h-[0.8rem];
  clip-path: inset(5% 20% 15% 10%);
  border: none !important;
}

h2 {
  margin: 0;
  padding: 0;
}
