@import url('./xy-theme.css');

 
@import "tailwindcss";

@plugin "tailwindcss-animate";


html,
body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}
 
#app {
  width: 100vw;
  height: 100vh;
}
