@import url("./xy-theme.css");

@import "tailwindcss";

@plugin "tailwindcss-animate";

html,
body {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

#app {
  width: 100vw;
  height: 100vh;
}

.titleInElement {
  @apply text-[1.3rem] text-[#555555] absolute transform z-2 leading-tight;
}

.subtitleInElement {
  @apply text-[1.05rem] text-[#777777] absolute transform z-2 italic;
}

.input {
  @apply !bg-[#9C27B0];
}

.output {
  @apply !bg-[#E91E63];
}

.input, .output, .output-tunnel{
  @apply !w-[0.8rem] !h-[0.8rem];
}

.input,
.output {
  @apply !w-[0.8rem] !h-[0.8rem];
  clip-path: inset(5% 20% 15% 10%);
}

.output-tunnel {
  @apply bg-[#FFFFAA] relative;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.output-tunnel::before {
  content: "";
  position: absolute;
  inset: -3px; 
  background: black; 
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: -1; 
}

.output-tunnel::after {
  content: "";
  position: absolute;
  inset: 1px; 
  background: #FFFFAA; /* Mismo color de fondo */
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  z-index: 0; 
}

.subtitleInTunnel {
  @apply text-[1rem] text-[#777777] absolute transform z-2 italic top-[50%] left-[.4rem] -translate-y-[50%];
}


h2 {
  margin: 0;
  padding: 0;
}


@keyframes scaleOverlay {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}


.overlay-scale {
  animation: scaleOverlay 1s ease-in-out infinite;
}


@keyframes rotateOverlay {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.overlay-rotate {
  animation: rotateOverlay 1s ease-in-out infinite;
}


@keyframes move {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}

.overlay-moving-t {
  animation: move 2s ease-in-out infinite;
  margin-top: -.4rem;
}

.overlay-moving {
  animation: move 2s ease-in-out infinite;
  margin-top: -1.2rem;
}

