@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

body {
  font-family: Roboto Mono;
  section {
    h4 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

.tabulator .tabulator-header .tabulator-col {
  background: var(--vscode-titleBar-inactiveBackground) !important;
}

.tabulator-row.tabulator-selectable:hover,
.tabulator-row.tabulator-selected {
  font-weight: bold;
  background-color: var(--vscode-statusBar-background) !important;
  color: var(--vscode-statusBar-foreground) !important;
}

.tabulator-header	{
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 110%;
}

.tabulator-cell	{
  font-family: Roboto Mono;
  font-size: 0.9em;
}


#instruction-detail {
  font-family: Roboto Mono;
  font-weight: bold;
}

#instruction-detail::before {
  content: "Type: ";
}

#instruction-detail::after {
  content: ".";
}