
@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

.register-name, .register-value, .register-abi {
  font-family: Roboto Mono;
  font-size: 100%;
}

.register-abi {
  font-weight: 700;
  color: var(--vscode-button-background);
}

.register-name {
  font-weight: 700;
}

.register-value:hover {
  font-family: Roboto Mono;
  font-weight: 700;
}