@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono.ttf");
}

.tabulator .tabulator-header .tabulator-col {
  background: var(--vscode-titleBar-inactiveBackground) !important;
}

.tabulator-row.tabulator-selectable:hover,
.tabulator-row.tabulator-selected {
  font-weight: bold;
  background-color: var(--vscode-errorForeground) !important;
}

.tabulator-header	{
  font-family: Roboto Mono;
  font-weight: bold;
  font-size: 110%;
}

.tabulator-cell	{
  font-family: Roboto Mono;
  font-size: 0.9em;
}